<footer id="colophon" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="row">
          <div class="col-12 col-sm-6">
            <nav class="footer-navigation footer-nav">
              <h5 class="nav-title">INFO</h5>
              <ul>
                <li>
                  <a href="/about.html" title="About">About</a>
                </li>
                <li>
                  <a href="/testimonials.html" title="Testimonials"
                    >Testimonials</a
                  >
                </li>
                <li>
                  <a href="/terms.html" title="Terms">Terms</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-12 col-sm-6">
            <nav class="footer-social-navigation footer-nav">
              <h5 class="nav-title">SOCIAL</h5>
              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/Jenna-Claire-Wedding-Stationery-841311362587760/"
                    title="Facebook"
                    target="_blank"
                    >Facebook</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/jennaclairestationery/"
                    title="Instagram"
                    target="_blank"
                    >Instagram</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="site-info">
      <span>
        <span class="copyright">&copy;</span> {{ "now" | date: "%Y" }} {{
        site.title }}
      </span>
    </div>

    <script
      type="text/javascript"
      src="/assets/js/lib/jquery-3-4-0.js"
    ></script>

    <script type="text/javascript" src="/assets/js/lib/slick.js"></script>

    <script
      type="text/javascript"
      src="/assets/js/partials/navigation.js"
    ></script>

    <script
      type="text/javascript"
      src="/assets/js/partials/banner-carousel.js"
    ></script>
  </div>
</footer>
