<header id="masthead" class="site-header">
  <div class="site-branding-container">
    <div class="site-branding row">
      <div class="col-12 col-md-4 col-lg-5">
        <div class="site-logo">
          <a
            href="{{ site.url }}"
            class="custom-logo-link"
            rel="home"
            aria-current="page"
            ><img
              width="400"
              height="57"
              src="/assets/img/logo-1.png"
              class="custom-logo"
              alt="{{ site.title }}"
          /></a>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-7">
        <nav class="main-navigation">
          <button class="nav-trigger">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="nav-container">
            <ul>
              <li><a href="/" title="Home">Home</a></li>
              <li>
                <a href="/portfolio.html" title="Portfolio">Portfolio</a>
              </li>
              <li>
                <a href="/semi-custom-suites.html" title="Semi-custom suites"
                  >Semi-custom suites</a
                >
              </li>
              <li>
                <a href="/bespoke.html" title="Bespoke">Bespoke</a>
              </li>
              <li>
                <a href="/contact.html" title="Contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
